<div class="form-group">
  <div>
    <h1>Find Your Account</h1>
  </div>
  <hr>
  <div class="item">
    <span>Please enter your mobile number to search for your account.</span>

  </div>
  <div class="item">
    <input type="text" placeholder="Enter your mobile number" style="width: 200px;" [(ngModel)]="phoneNumber"><br>
    <span style="color: brown;" *ngIf="!existPhone">{{errorMessage}}</span>
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-secondary" style="margin-right: 10px;">Cancel</button>
    <button (click)="checkAvailableAccount(phoneNumber)" class="btn btn-primary">Search</button>
  </div>
</div>
