.not-null {
  position: absolute;
  top: 23px;
  right: 0px;
  color: #ed1846;
  font-size: 20px;
  z-index: 1;
}
.form-group{
  display: block;
  position: relative;
  padding: 10px;
}

.log-in{
  width: 400px;
  text-align: center;
  padding: 2%;
  border-radius: 20px;
  margin: 30px auto auto auto;
  background-color: rgb(240, 240, 240);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

form{
  width: 100%;
}

