.register{
  width: 400px;
  border: 1px solid;
  text-align: center;
  padding: 2%;
  border-radius: 20px;
  margin: 20px auto 20px auto;
  background-color: rgb(224, 224, 224);
}

.not-null {
  position: absolute;
  top: 23px;
  right: 0px;
  color: #ed1846;
  font-size: 20px;
  z-index: 1;
}
.form-group{
  display: block;
  position: relative;
  padding: 10px;
}

.form-select{
  width: 100%;
}
