.btn{
  border-radius: 30px;
  height: 50px;
  background-color: #343a40;
  width: 350px;
  color: aliceblue;
}

.col-md-4{
  font-size: x-large;
}

svg:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

svg:active{
  transform: translateY(4px);
}

.checkout-detail{
  padding-bottom: 30px;
}

.checkout-left{
  width: 350px;
}

hr{
  border: 3px solid #212529;
  border-radius: 5px;
}

table{
  border: 2px;
}

.col-md-4{
  background-color: rgb(197, 197, 197);
  padding: 2%;
}
