<h3 style="text-align: center; font-size: xx-large; font-weight: 500; padding-top: 3%;">Change Password</h3>
<form [formGroup]="rsPassForm">
  <div class="row">
    <div class="col-2">
      <label>Current Password:</label>
    </div>
    <div class="col-10">
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="currentPassword"
          formControlName="currentPassword"
        >
        <div
          *ngIf="
          currentPassword?.errors?.['required'] &&
          isSubmitted
          "
          style="color: rgb(160, 0, 0)"
        >
          Current Password is required
        </div>
        <div
        *ngIf="
        currentPassword?.errors?.['invalid'] &&
        isSubmitted
        "
        style="color: rgb(160, 0, 0)"
      >
      Invalid current password
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label>New Password:</label>
    </div>
    <div class="col-10">
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="newPassword"
          formControlName="newPassword"
        >
        <div
          *ngIf="
          newPassword?.errors?.['required'] &&
          isSubmitted
          "
          style="color: rgb(160, 0, 0)"
        >
          New Password is required
        </div>
        <div
        *ngIf="
        newPassword?.errors?.['pattern'] &&
        isSubmitted
        "
        id="password-help"
        style="color: rgb(160, 0, 0)"
      >
      Password must contain at least one number, one uppercase and a
      lowercase letter and at least 8 characters<br />Password cannot
      contain whitespace
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label>Confirm New Password:</label>
    </div>
    <div class="col-10">
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="confirmNewPassword"
          formControlName="confirmNewPassword"
        />
        <div
        *ngIf="
        confirmNewPassword?.errors?.['matching']
        "
        id="password-help"
        style="color: rgb(160, 0, 0)"
      >
      Don't match New Password
      </div>
      </div>
      <button style="margin-top: 20px;" class="btn btn-primary"  (click)="Save()">Confirm</button>
    </div>
  </div>
</form>
