<h3 style="text-align: center; font-size: xx-large; font-weight: 500; padding-top: 3%;">PRODUCT LIST</h3>
<div class="filter">
  <div class="row">
    <div class="col-2">
      Inventory
    </div>
    <div class="col-2">
      Product
    </div>
    <div class="col-2">
      Color
    </div>
    <div class="col-2">
      Brand
    </div>
    <div class="col-2">
      Status
    </div>
  </div>
  <div class="row">
    <div class="col">
      <select class="form-select" name="" id="" [(ngModel)]="selectedInventory">
        <option value="" selected >ALL</option>
        <option *ngFor="let i of inventoryList" [value]="i.name">{{i.name}}</option>
      </select>
    </div>
    <div class="col">
      <input class="form-control" type="text" placeholder="Enter value..." [(ngModel)]="productInput">
    </div>
    <div class="col">
      <div class="dropdown">
        <div class="form-select" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <div>
            <span *ngIf="!selectedColors.length">Select Color</span>
            <span *ngFor="let color of selectedColors, let i = index">{{color}}
              {{selectedColors.length>=2 && i!=selectedColors.length-1?', ':''}}
            </span>
          </div>
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li *ngFor="let c of colorList" class="dropdown-item"><input type="checkbox" (change)="onColorCheckboxChange(c)">&#160;{{c}}</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="dropdown">
        <div class="form-select" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <div>
            <span *ngIf="!selectedBrands.length">Select Brand</span>
            <span *ngFor="let brand of selectedBrands, let i = index">{{brand}}{{selectedBrands.length>=2&&i!=selectedBrands.length-1?', ':''}}</span>
          </div>
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li *ngFor="let b of brandList" class="dropdown-item"><input type="checkbox" (change)="onBrandCheckboxChange(b)">&#160;{{b}}</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="dropdown">
        <div class="form-select" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <div>
            <span *ngIf="!selectedStatus.length">Select Status</span>
            <span *ngFor="let s of selectedStatus, let i = index">&#160;{{s}}{{selectedStatus.length>=2&&i!=selectedStatus.length-1?', ':''}}</span>
          </div>
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li class="dropdown-item"><input type="checkbox" (change)="onStatusCheckboxChange('Available')">&#160;Available</li>
          <li class="dropdown-item"><input type="checkbox" (change)="onStatusCheckboxChange('Unavailable')">&#160;Unavailable</li>
          <li class="dropdown-item"><input type="checkbox" (change)="onStatusCheckboxChange('OutOfStock')">&#160;Out Of Stock</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="filterProducts()">
        <i class="fa fa-filter"></i>
        Filter
      </button>
    </div>
  </div>
  <div class="row line-2">
    <div class="col-2">
      Min Price
    </div>
    <div class="col-2">
      Max Price
    </div>
  </div>
  <div class="row ">
    <div class="col-2">
      <input type="text" class="form-control" placeholder="Enter Min Price" [(ngModel)]="minPrice">
    </div>
    <div class="col-2">
      <input type="text" class="form-control" placeholder="Enter Max Price" [(ngModel)]="maxPrice">
    </div>
  </div>
</div>
<div class="d-flex align-items-center" style="padding-bottom: 10px;">
  <button class="btn btn-success" (click)="openCreateDialog()">
    <i class="fa fa-plus-circle"></i>
      Add New
    </button>
</div>
<div>

</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Color</th>
      <th>Brand</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td> {{product.id}} </td>
      <td> {{product.name}} </td>
      <td> {{product.quantity}} </td>
      <td> {{product.price}} </td>
      <td> {{product.color}} </td>
      <td> {{product.brand}} </td>
      <td *ngIf="product.status === 'Available'"><span class="status status--available"><strong>{{product.status}}</strong>  </span></td>
      <td *ngIf="product.status === 'OutOfStock'"><span class="status status--outofstock"><strong>{{product.status}}</strong>  </span></td>
      <td *ngIf="product.status === 'Unavailable'"><span class="status status--unavailable"><strong>{{product.status}}</strong>  </span></td>

      <td>
        <button (click)="openEditDialog(product.id!)" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="currentPage === 0 ? 'disabled' : 'page-item'">
      <a  class="page-link" href="javascript:void(0)" (click)="goToPage(currentPage - 1)">Previous</a>
    </li>

    <li *ngFor="let pageNumber of [].constructor(totalPages) ; let i = index;  " class="page-item" [ngClass]="currentPage === i ? 'disabled' : 'page-item'"  >
      <a (click)="goToPage(i)" class="page-link" href="javascript:void(0)" >{{ i + 1 }}</a>
    </li>

    <li class="page-item" [ngClass]="currentPage === totalPages-1 ? 'disabled' : 'page-item'">
      <a class="page-link" href="javascript:void(0)" (click)="goToPage(currentPage + 1)" >Next</a>
    </li>
  </ul>
</nav>

