/* Các td chứa thông tin sản phẩm */
td {
  width: 1%;
  white-space: nowrap;
  text-align: center;
}

/* Bảng chứa danh sách sản phẩm */
table {
  table-layout: fixed;
}


th {
  text-align: center;
}
.status{
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  width: 109px;
  color: white;
}

.search-result{

  position: absolute;
  overflow-y: scroll;
  /* max-width: 600px; */
  width: 150%;
  /* margin: 20px auto 0 auto; */
  background-color: rgb(224, 224, 224);
  top: 100%;
  height: 400px;
  left: -30%;
  hr{
    border: 2px solid #343a40;
    border-radius: 5px;
  }
  p{
    color: black;
  }
}

.search{
  position: relative;
  z-index: 99;
  padding-right: 10px;
}

.product-item{
  cursor: pointer;
}

.item{
  border-radius: 10px;
  display: flex;
  width: 250px;
  height: 100px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: #dddada;
  color: black;
  cursor: pointer;
}
.category{
  display: flex;
  justify-content: space-evenly;
  margin: 40px 40px;
}

.item ~ .item {
  margin-left: 10px;
}

.status--available{
  background-color: #C8E6C9;
  color: #256029;
}

.status--outofstock{
  background: #FFCDD2;
  color: #c63737;
}

.status--unavailable{
  background: #FEEDAF;
  color: #8a5340;
}

.filter{
  background-color: #efefef;
  padding: 12px 16px ;
}

.line-2{
  margin-top: 10px;
}

.expand-filter{
  background: #efefef;
}
