<div class="container">
  <h3
    style="
      text-align: center;
      font-size: xx-large;
      font-weight: 500;
      padding-top: 3%;
    "
  >
    CREATE GOOD EXPORT/GOOD RECEIPT
  </h3>
  <div class="menu-report d-flex filter">
    <div>
      <label for="">Select Product:</label>
      <div class="dropdown me-3" style="width: fit-content">
        <div
          class="form-select"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <div>
            <span>Select Product</span>
          </div>
        </div>
        <ul
          class="dropdown-menu menu-selectItem"
          aria-labelledby="dropdownMenuButton1"
        >
          <li
            class="dropdown-item header-filter d-flex justify-content-between"
          >
            <input type="checkbox" (change)="checkUncheckAll($event)" />
            &#160;
            <div class="col">Product ID</div>
            <div class="col">Inventory</div>
            <div class="col">Product</div>
            <div class="col">Brand</div>
            <div class="col">Color</div>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <div class="overflow-auto product-list">
            <li
              *ngFor="let ip of inventoryProductsListSelected"
              class="dropdown-item d-flex justify-content-between"
            >
              <input
                type="checkbox"
                (change)="onProductCheckboxChange(ip)"
                [(ngModel)]="ip.selected"
              />
              &#160;
              <div class="col">
                {{ ip.productId }}
              </div>
              <div class="col">
                {{ ip.inventoryName }}
              </div>
              <div class="col">
                {{ ip.productName }}
              </div>
              <div class="col">
                {{ ip.brand }}
              </div>
              <div class="col">
                {{ ip.color }}
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div>
      <label for="">Select Report</label>
      <div class="menu-status">
        <select
          name=""
          id=""
          class="form-select"
          [ngModel]="reportSelected"
          (ngModelChange)="setReportPicked($event)"
        >
          <option [value]="tr.name" *ngFor="let tr of report">
            {{ tr.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div *ngIf="reportSelected === 'Export'" class="report">
    <div class="title-report">
      <h1 class="text-center">Export Product</h1>
    </div>
    <form [formGroup]="allExportForm">
      <div class="mt-3 container table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="table-primary">
              <th>ID</th>
              <th>Product Name</th>
              <th>Brand</th>
              <th>Inventory Quantity</th>
              <th>Export Quantity</th>
              <th>Date</th>
              <th>Account</th>
              <th>Warehouse</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!selectedProducts.length">
              <td colspan="9">
                <div class="d-flex justify-content-center align-items-center">
                  <p>List is Empty</p>
                </div>
              </td>
            </tr>
            <ng-container
              *ngFor="let ip of selectedProducts; let i = index"
              formArrayName="exportFormArr"
            >
              <ng-container [formGroupName]="i">
                <tr>
                  <input type="hidden" formControlName="id" [value]="ip.id" />
                  <td>{{ ip.productId }}</td>
                  <td>{{ ip.productName }}</td>
                  <td>{{ ip.brand }}</td>
                  <td>{{ ip.inventoryProductQty }}</td>
                  <td>
                    <div class="accordion" id="accordionExample">
                      <div class="accordion-header" [id]="'heading' + ip.id">
                        <button
                          (click)="getInventoryProductSize(ip.productId!)"
                          class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          [attr.data-bs-target]="'#collapse' + ip.id"
                          aria-expanded="false"
                          [attr.aria-controls]="'collapse' + ip.id"
                        >
                          Quantity
                        </button>
                      </div>
                    </div>
                  </td>
                  <td>{{ currentTime | date : "medium" }}</td>
                  <td>{{ currentUsername }}</td>
                  <td>{{ ip.inventoryName }}</td>
                  <td>
                    <button
                      (click)="removeInventoryProductsListSelected(ip)"
                      class="btn"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 36 36"
                      >
                        <path
                          fill="#ef4444"
                          d="M18 2a16 16 0 1 0 16 16A16 16 0 0 0 18 2Zm8 22.1a1.4 1.4 0 0 1-2 2l-6-6l-6 6.02a1.4 1.4 0 1 1-2-2l6-6.04l-6.17-6.22a1.4 1.4 0 1 1 2-2L18 16.1l6.17-6.17a1.4 1.4 0 1 1 2 2L20 18.08Z"
                          class="clr-i-solid clr-i-solid-path-1"
                        />
                        <path fill="none" d="M0 0h36v36H0z" />
                      </svg>
                    </button>
                  </td>
                </tr>
                <tr
                  [id]="'collapse' + ip.id"
                  class="accordion-collapse collapse"
                  [attr.aria-labelledby]="'heading' + ip.id"
                  data-bs-parent="#accordionExample"
                >
                  <td colspan="10">
                    <div class="d-flex tilte">
                      <div class="me-2">
                        <tr>
                          <label>Size</label>
                        </tr>
                        <tr>
                          <label for="">Quantity</label>
                        </tr>
                      </div>
                      <div class="d-flex value">
                        <ng-container
                          formArrayName="exportInventoryProductsize"
                          *ngFor="
                            let e of exportFormArr
                              .at(i)
                              .get('exportInventoryProductsize').controls;
                            let j = index
                          "
                        >
                          <div [formGroupName]="j">
                            <tr>
                              <input
                                type="hidden"
                                formControlName="sizeNumber"
                              />
                              <label>{{ e.value.sizeNumber }}</label>
                            </tr>
                            <tr class="input-qty">
                              <input
                                type="text"
                                class="form-control"
                                formControlName="quantity"
                              />
                            </tr>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </form>
  </div>

  <div *ngIf="reportSelected === 'Import'" class="report">
    <div class="title-report">
      <h1 class="text-center">Import Product</h1>
    </div>
    <form [formGroup]="allExportForm">
      <div class="mt-3 container">
        <table class="table table-striped">
          <thead>
            <tr class="table-primary">
              <th>ID</th>
              <th>Product Name</th>
              <th>Brand</th>
              <th>Quantity</th>
              <th>Date</th>
              <th>Account</th>
              <th>Cost Price</th>
              <th>Selling price</th>
              <th>Warehouse</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!selectedProducts.length">
              <td colspan="9">
                <div class="d-flex justify-content-center align-items-center">
                  <p>List is Empty</p>
                </div>
              </td>
            </tr>
            <ng-container
              *ngFor="let ip of selectedProducts; let i = index"
              formArrayName="exportFormArr"
            >
              <ng-container [formGroupName]="i">
                <tr>
                  <input type="hidden" formControlName="id" [value]="ip.id" />
                  <td>{{ ip.productId }}</td>
                  <td>{{ ip.productName }}</td>
                  <td>{{ ip.brand }}</td>
                  <td>
                    <div class="accordion" id="accordionExample">
                      <div class="accordion-header" [id]="'heading' + ip.id">
                        <button
                          (click)="getInventoryProductSize(ip.productId!)"
                          class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          [attr.data-bs-target]="'#collapse' + ip.id"
                          aria-expanded="false"
                          [attr.aria-controls]="'collapse' + ip.id"
                        >
                          Quantity
                        </button>
                      </div>
                    </div>
                  </td>
                  <td>{{ currentTime | date : "medium" }}</td>
                  <td>{{ currentUsername }}</td>
                  <td style="width: 150px">
                    <input
                      formControlName="costPrice"
                      type="text"
                      class="form-control"
                      placeholder="Enter cost price"
                    />
                  </td>
                  <td style="width: 150px">
                    <input
                      formControlName="sellPrice"
                      type="text"
                      class="form-control"
                      placeholder="Enter selling price"
                    />
                  </td>
                  <td>{{ ip.inventoryName }}</td>
                  <td>
                    <button
                      (click)="removeInventoryProductsListSelected(ip)"
                      class="btn"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 36 36"
                      >
                        <path
                          fill="#ef4444"
                          d="M18 2a16 16 0 1 0 16 16A16 16 0 0 0 18 2Zm8 22.1a1.4 1.4 0 0 1-2 2l-6-6l-6 6.02a1.4 1.4 0 1 1-2-2l6-6.04l-6.17-6.22a1.4 1.4 0 1 1 2-2L18 16.1l6.17-6.17a1.4 1.4 0 1 1 2 2L20 18.08Z"
                          class="clr-i-solid clr-i-solid-path-1"
                        />
                        <path fill="none" d="M0 0h36v36H0z" />
                      </svg>
                    </button>
                  </td>
                </tr>
                <tr
                  [id]="'collapse' + ip.id"
                  class="accordion-collapse collapse"
                  [attr.aria-labelledby]="'heading' + ip.id"
                  data-bs-parent="#accordionExample"
                >
                  <td colspan="10">
                    <div class="d-flex tilte">
                      <div class="me-2">
                        <tr>
                          <label>Size</label>
                        </tr>
                        <tr>
                          <label for="">Quantity</label>
                        </tr>
                      </div>
                      <div class="d-flex value">
                        <ng-container
                          formArrayName="exportInventoryProductsize"
                          *ngFor="
                            let e of exportFormArr
                              .at(i)
                              .get('exportInventoryProductsize').controls;
                            let j = index
                          "
                        >
                          <div [formGroupName]="j">
                            <tr>
                              <input
                                type="hidden"
                                formControlName="sizeNumber"
                              />
                              <label>{{ e.value.sizeNumber }}</label>
                            </tr>
                            <tr class="input-qty">
                              <input
                                type="text"
                                class="form-control"
                                formControlName="quantity"
                              />
                            </tr>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <button
    class="btn btn-primary"
    (click)="onSaveExportReport(reportSelected)"
    [disabled]="!selectedProducts.length"
  >
    Submit
  </button>
</div>
