<h3 style="text-align: center; font-size: xx-large; font-weight: 500; padding-top: 3%;">{{ data.message }}</h3>

<div mat-dialog-content>
  <form [formGroup]="productForm">
      <div>
        <div class="form-group">
          <span class="not-null">*</span>
          <label>Product's Name</label>
          <input type="text" class="form-control" id="name" formControlName="name" name="name">
          <div *ngIf="productForm.get('name')?.invalid && isSubmitted" style="color: rgb(160, 0, 0);">
            Product's Name is required
          </div>
        </div>
        <!-- Các trường dữ liệu khác tương tự -->

        <div class="form-group">
          <span class="not-null">*</span>
          <label>Status</label>
          <select class="form-control form-select"
                  id="status"
                  formControlName="status">
            <option value="Available">Available</option>
            <option value="OutOfStock">Out Of Stock</option>
            <option value="Unavailable">Unavailable</option>
          </select>
          <div *ngIf="productForm.get('status')?.invalid && isSubmitted" style="color: rgb(160, 0, 0);">
            Product's Status is required
          </div>
        </div>

        <div class="form-group">
          <span class="not-null">*</span>
          <label>Product's Color</label>
          <input type="text" class="form-control" id="color" formControlName="color">
          <div *ngIf="productForm.get('color')?.invalid && isSubmitted" style="color: rgb(160, 0, 0);">
            Product's Color is required
          </div>
        </div>

        <div class="form-group">
          <span class="not-null">*</span>
          <label>Product's Brand</label>
          <input type="text" class="form-control" id="brand" formControlName="brand">
          <div *ngIf="productForm.get('brand')?.invalid && isSubmitted" style="color: rgb(160, 0, 0);">
            Product's Brand is required
          </div>
        </div>
      </div>
      <div class="">
        <div class="form-group">
            <span class="not-null">*</span>
            <label class="pb-2">Product's Image</label>
        </div>
        <div class="form-group">
          <input type="file" class="form-control" id="image" formControlName="image"  multiple value="select" (change)="onFileSelected($event)">
          <div *ngIf="productForm.get('image')?.invalid && isSubmitted" style="color: rgb(160, 0, 0)">
          Image is required
          </div>
        </div>
        <h2 >Selected Image</h2>
        <div class="form-group">
          <div class="row">
            <div *ngFor="let image of imageSelect let i = index" class="col-2 img-container">
              <span class="btn-remove-image" (click)="removeImageSelected(i)">x</span>
              <img  src="assets/img/{{image.file.name}}" width="100px" height="100px" >
            </div>
          </div>
        </div>
        <form [formGroup]="goodsReceiptForm">
            <span class="not-null">*</span>
            <label>Inventory</label>
            <div class="form-group">
              <select class="form-control form-select" id="inventoryName" formControlName="inventoryName">
                <option value="" disabled [selected]="defaultInventory">Choose Inventory</option>
                <option *ngFor="let i of inventoryList" [value]="i.name">{{i.name}}</option>
              </select>
              <div *ngIf="goodsReceiptForm.get('inventoryName')?.invalid && isSubmitted" style="color: rgb(160, 0, 0);">
                Supplier is required
              </div>
            </div>
        </form>
      </div>
  </form>
</div>
<div mat-dialog-actions>
  <button class="btn btn-success " [mat-dialog-close]="isClosed" (click)="onYesClick()" style="margin-right: 10px;">Confirm</button>
  <button class="btn btn-secondary" mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
</div>

