.status.active > svg > circle{
  fill: #109D1A ;
}
.status.inactive > svg > circle{
  fill: #3a3a3a ;
}

td {
  width: fit-content;
  white-space: nowrap;
  text-align: center;
}

tr{
  width: fit-content;
}
/* Bảng chứa danh sách sản phẩm */
table {
  table-layout: fixed;
}

th {
  text-align: center;
}

.filter{
  background-color: #efefef;
  padding: 12px 16px ;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.line-2{
  margin-top: 10px;
}
